@model List<Listing>
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="house-type">House Type:</label>
        <select id="house-type" name="houseType">
            <option value="">All</option>
            @foreach(var ht in ViewBag.HouseTypes)
            {
                <option value="@ht.Type">@ht.Type</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="rental-price">Rental Price:</label>
        <select id="rental-price" name="rentalPrice">
            <option value="0">N/A</option>
            <option value="500">Above 500</option>
            <option value="1000">Above 1000</option>
            <option value="1500">Above 1500</option>
            <option value="2000">Above 2000</option>
            <option value="2500">Above 2500</option>
            <option value="3000">Above 3000</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Listing Filter</button>
</form><br />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" >ID</th>
            <th scope="col">House Type</th>
            <th scope="col">Total Area</th>
            <th scope="col">Rental Price</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    <thead>
    <tbody>
        @foreach (var listing in Model)
        {
            <tr>
                <th scope="row">@listing.ListingId</th>
                <td>@listing.HouseType.Type</td>
                <td>@listing.TotalArea</td>
                <td>@listing.RentalPrice</td>
                <td>@listing.Description</td>
                <td>@(listing.Status ? "Active" : "Inactive")</td>
                <td>
                    <a asp-controller="Listing" asp-action="Details"
                        asp-route-id="@listing.ListingId">Details</a>
                </td>
            </tr>
        }
    <tbody>
</table>
