@model ASPNET_FP.Models.Listing

@{
    ViewBag.Title = "Listing Details - " + @Model.ListingId;
}

<h2>Details for Listing @Model.ListingId</h2>
<hr />
<table class="display-listing-details">
    <tr>
        <td>ID</td>
        <td>@Model.ListingId</td>
    </tr>
    <tr>
        <td>Landlord</td>
        <td>@Model.LandlordId</td>
    </tr>
    <tr>
        <td>House Type</td>
        <td>@Model.HouseTypeId</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Total Area</td>
        <td>@Model.TotalArea</td>
    </tr>
    <tr>
        <td>Bedroom Number</td>
        <td>@Model.BedroomNo</td>
    </tr>
    <tr>
        <td>Washroom Number</td>
        <td>@Model.WahroomNo</td>
    </tr>
    <tr>
        <td>Parking Number</td>
        <td>@Model.ParkingNo</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Rental Price</td>
        <td>@Model.RentalPrice</td>
    </tr>
    <tr>
        <td>Listing Time</td>
        <td>@Model.ListingTime</td>
    </tr>
    <tr>
        <td>Valid Days</td>
        <td>@Model.ValidDays</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@(Model.Status ? "Active" : "Inactive")</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a asp-controller="Listing" asp-action="Edit"
                asp-route-id="@Model.ListingId" class="btn btn-primary">Edit</a>
            <a asp-controller="Listing" asp-action="Index" class="btn btn-primary">Back to List</a>
        </td>
    </tr>
</table>