@model ASPNET_FP.Models.Account

@{
    ViewBag.Title = "Account Details";
}

<h2>Details for Account @Model.AcctId</h2>
<hr />
<table>
    <tr>
        <td>Id</td>
        <td>@Model.AcctId</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>@Model.Password</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td>Creation Time</td>
        <td>@Model.CreationTime</td>
    </tr>
    <tr>
        <td>Last Login Time</td>
        <td>@Model.LastLoginTime</td>
    </tr>
</table>
